.button {
				 background-color: #4CAF50;
				 border: none;
				 color: white;
				 padding: 10px 25px;
			    text-align: center;
							    text-decoration: none;
							    display: inline-block;
							    font-size: 16px;
							    margin: auto;
							    cursor: pointer;
				
				}
		body{
			margin: auto;
			width: 500px;
			
			
			background-color: #f8c471;
			padding: 100px;
			

		}

		.help {
    display:none;
    font-size:90%;
}
input:focus + .help {
    display:inline-block;
}

form {
    text-align: center;
    
}
